requests==2.25.1
jsonpickle==2.0.0
cachecontrol==0.12.6
python-dateutil==2.8.1
feedparser==6.0.2
wikipedia==1.4.0
PyDictionary==2.0.1
pyTelegramBotAPI==3.7.6
urllib3==1.26.3
SpeechRecognition==3.8.1
SoundFile==0.10.3.post1
pydub==0.25.0
psycopg2-binary==2.8.6
gTTS==2.2.2
pytube==11.0.1
moviepy==1.0.3
bounding-box==0.1.3
coffeehouse==2.2.4